

.header {
  display: flex;
  background-color: rgb(27, 133, 219);
  height: 70px;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(27, 133, 219, 0.5) 5px 10px 15px;
}

.body {
  margin: 60px 20px;
  display: flex;
  justify-content: center;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 60px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "imagen" "texto";
  justify-items: center;
  text-decoration: none;
}
.imagen{
  grid-area: "imagen"
}
.texto {
  font-size: 13px;
  grid-area: "texto"
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.withdraw-container {
  margin-left: 20px;
}